<toolbar></toolbar>
<form data-ng-submit="loginCtrl.login()">
    <div layout="column" ng-cloak class="md-inline-form login-wrapper">
        <md-content md-theme="docs-dark" layout-gt-lg="row" layout-padding>
            <div>
                <md-input-container>
                    <label for="username">Username</label>
                    <input id="username" type="text" data-ng-model="loginCtrl.model.username" required data-ng-required="true" />
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label for="password">Password</label>
                    <input id="password" type="password" data-ng-model="loginCtrl.model.password" required data-ng-required="true" />
                </md-input-container>
            </div>
            <div class="text-right">
                <md-button type="submit" class="md-raised md-primary" data-ng-click="loginCtrl.login()">Login</md-button>
            </div>
        </md-content>
    </div>
</form>