@import "../../common/common";

h1 {
    color: $lightTextColor;
    text-align: center;
    margin: 0;

}

p {
    color: $lightTextColor;
    text-align: center;
}

.flex-wrapper {
    display: flex;

    .flex-item {
        flex: 1;
    }

    .flex-item:first-child {
        flex: 0;
        width: 300px;
    }
}